In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import numpy as np

In [2]:
with open('gr_open_amzius_lytis_pilietybes-1.plain', 'r') as file:
    data = file.read()

column_names = ['Number', 'Gender', 'Age Range', 'Nationality', 'Year of declaration', 'During the quarter', 'Redion code', 'Region name', 'Date']
data_frame = pd.DataFrame([x.split('|') for x in data.split('\n')], columns=column_names)

In [3]:
data_frame.head()

,Number,Gender,Age Range,Nationality,Year of declaration,During the quarter,Redion code,Region name,Date
0,nr,fiz_asm_lyt,fiz_asm_amzius,fiz_asm_pilietybe,deklarav_metai,deklarav_ketvirtis,sav_kodas,sav_pavadinimas,data_formav
1,595554,V,45-54,Lietuvos,2002,K4,13,Vilniaus m. sav.,2024-01-26
2,999037,M,45-54,Lietuvos,1993,K4,29,Šiaulių m. sav.,2024-01-26
3,1492649,V,45-54,Lietuvos,1991,K3,46,Jonavos r. sav.,2024-01-26
4,6980,M,7-17,Lietuvos,2023,K1,13,Vilniaus m. sav.,2024-01-26

In [15]:
df_dropped = data_frame.drop(index=0)
df_reindexed = df_dropped.reset_index(drop=True)
df_reindexed.head()

,Number,Gender,Age Range,Nationality,Year of declaration,During the quarter,Redion code,Region name,Date
0,595554,V,45-54,Lietuvos,2002,K4,13,Vilniaus m. sav.,2024-01-26
1,999037,M,45-54,Lietuvos,1993,K4,29,Šiaulių m. sav.,2024-01-26
2,1492649,V,45-54,Lietuvos,1991,K3,46,Jonavos r. sav.,2024-01-26
3,6980,M,7-17,Lietuvos,2023,K1,13,Vilniaus m. sav.,2024-01-26
4,685708,M,0-6,Lietuvos,2020,K1,29,Šiaulių m. sav.,2024-01-26

In [16]:
df = df_reindexed.loc[:, ['Gender', 'Age Range', 'Region name']]
df.head()

  Gender Age Range       Region name
0      V     45-54  Vilniaus m. sav.
1      M     45-54   Šiaulių m. sav.
2      V     45-54   Jonavos r. sav.
3      M      7-17  Vilniaus m. sav.
4      M       0-6   Šiaulių m. sav.

In [11]:
df_unique = df['Region name'].unique()
df_unique

array(['Vilniaus m. sav.', 'Šiaulių m. sav.', 'Jonavos r. sav.',
       'Šiaulių r. sav.', 'Kauno m. sav.', 'Klaipėdos m. sav.',
       'Alytaus m. sav.', 'Varėnos r. sav.', 'Pasvalio r. sav.',
       'Tauragės r. sav.', 'Širvintų r. sav.', 'Kupiškio r. sav.',
       'Panevėžio r. sav.', 'Kauno r. sav.', 'Pakruojo r. sav.',
       'Rokiškio r. sav.', 'Joniškio r. sav.', 'Telšių r. sav.',
       'Klaipėdos r. sav.', 'Ukmergės r. sav.', 'Marijampolės sav.',
       'Vilkaviškio r. sav.', 'Utenos r. sav.', 'Molėtų r. sav.',
       'Prienų r. sav.', 'Kalvarijos sav.', 'Šalčininkų r. sav.',
       'Raseinių r. sav.', 'Visagino sav.', 'Trakų r. sav.',
       'Panevėžio m. sav.', 'Šilutės r. sav.', 'Druskininkų sav.',
       'Kėdainių r. sav.', 'Plungės r. sav.', 'Vilniaus r. sav.',
       'Elektrėnų sav.', 'Jurbarko r. sav.', 'Kretingos r. sav.',
       'Kazlų Rūdos sav.', 'Kaišiadorių r. sav.', 'Neringos sav.',
       'Biržų r. sav.', 'Palangos m. sav.', 'Radviliškio r. sav.',
       'Akmenės r. sav.', 'Šakių r. sav.', 'Mažeikių r. sav.',
       'Anykščių r. sav.', 'Alytaus r. sav.', 'Zarasų r. sav.',
       'Lazdijų r. sav.', 'Šilalės r. sav.', 'Švenčionių r. sav.',
       'Pagėgių sav.', 'Skuodo r. sav.', 'Birštono sav.',
       'Kelmės r. sav.', 'Rietavo sav.', 'Ignalinos r. sav.', None],
      dtype=object)

In [21]:
regions = ['Vilniaus m. sav.', 'Šiaulių m. sav.', 'Jonavos r. sav.', 'Šiaulių r. sav.', 'Kauno m. sav.', 'Klaipėdos m. sav.', 'Alytaus m. sav.', 'Varėnos r. sav.', 'Pasvalio r. sav.', 'Tauragės r. sav.', 'Širvintų r. sav.', 'Kupiškio r. sav.', 'Panevėžio r. sav.', 'Kauno r. sav.', 'Pakruojo r. sav.', 'Rokiškio r. sav.', 'Joniškio r. sav.', 'Telšių r. sav.', 'Klaipėdos r. sav.', 'Ukmergės r. sav.', 'Marijampolės sav.', 
'Vilkaviškio r. sav.', 'Utenos r. sav.', 'Molėtų r. sav.', 'Prienų r. sav.', 'Kalvarijos sav.', 'Šalčininkų r. sav.', 'Raseinių r. sav.', 'Visagino sav.', 'Trakų r. sav.', 'Panevėžio m. sav.', 'Šilutės r. sav.', 'Druskininkų sav.', 'Kėdainių r. sav.', 'Plungės r. sav.', 'Vilniaus r. sav.', 'Elektrėnų sav.', 'Jurbarko r. sav.', 'Kretingos r. sav.', 'Kazlų Rūdos sav.', 'Kaišiadorių r. sav.', 'Neringos sav.', 'Biržų r. sav.', 'Palangos m. sav.', 'Radviliškio r. sav.', 'Akmenės r. sav.', 'Šakių r. sav.', 'Mažeikių r. sav.', 'Anykščių r. sav.', 'Alytaus r. sav.', 'Zarasų r. sav.', 'Lazdijų r. sav.', 'Šilalės r. sav.', 'Švenčionių r. sav.', 'Pagėgių sav.', 'Skuodo r. sav.', 'Birštono sav.', 'Kelmės r. sav.', 'Rietavo sav.', 'Ignalinos r. sav.', None]
latitudes = [54.6759715, 55.8979712, 55.1405549, 55.9721456, 54.9085626, 55.70435089999999, 54.3967351, 54.1445634, 56.0418676, 55.2801858, 55.026259, 55.8428741, 55.6166728, 54.9894104, 56.0732605, 55.9629072, 56.2640229, 55.9175215, 55.6686983, 55.2392, 54.5711094, 54.6248199, 55.50846139999999, 55.19966059999999, 54.6728499, 54.3761674, 54.361219, 55.3611606, 55.57563219999999, 54.5823993, 55.7352736, 55.4057062, 53.9933685, 55.3560947, 55.9137828, 54.7732578, 54.7653934, 55.15050249999999, 56.0134438, 54.7807526, 54.8506304, 55.4173923, 56.1660422, 55.9495567, 55.624255, 56.2123268, 54.9397588, 56.2912997, 55.4966537, 54.3297496, 55.7093481, 54.179033, 55.5710418, 55.1028098, 55.172132, 56.23194489999999, 54.5669664, 55.6266352, 55.7021719, 55.4090342, 'None']
longitudes = [25.2867413, 23.3471005, 24.3381715, 23.033237, 23.9376302, 21.1635206, 24.0445329, 24.4102985, 24.3188773, 22.2557083, 24.8699644, 25.0295817, 24.3142283, 23.7170791, 23.9389905, 25.5682742, 23.4661909, 22.345184, 21.4241373, 24.7566181, 23.4859371, 22.9922291, 25.6832642, 25.367977, 23.893095, 23.1920321, 25.332229, 23.2704158, 26.484719, 24.7545167, 24.3683685, 21.5889493, 24.0342439, 23.9832683, 21.8677595, 25.5867113, 24.7740582, 22.9209956, 21.3249747, 23.4840243, 24.378337, 21.0797532, 24.8555607, 21.0959423, 23.5944537, 22.7694986, 23.0433392, 22.358053, 25.0939881, 24.1960932, 26.059066, 23.5896493, 22.1978659, 26.0071855, 21.9683614, 21.6683682, 24.0093098, 22.878172, 21.9986564, 26.3284893, 'None']

# Create DataFrame
df2 = pd.DataFrame({
    'Region': regions,
    'Latitude': latitudes,
    'Longitude': longitudes
})

# Display the DataFrame
print(df2.head())
df.head()

             Region   Latitude  Longitude
0  Vilniaus m. sav.  54.675972  25.286741
1   Šiaulių m. sav.  55.897971    23.3471
2   Jonavos r. sav.  55.140555  24.338172
3   Šiaulių r. sav.  55.972146  23.033237
4     Kauno m. sav.  54.908563   23.93763

  Gender Age Range       Region name
0      V     45-54  Vilniaus m. sav.
1      M     45-54   Šiaulių m. sav.
2      V     45-54   Jonavos r. sav.
3      M      7-17  Vilniaus m. sav.
4      M       0-6   Šiaulių m. sav.

In [25]:
# Rename the 'Region name' column in the second DataFrame to 'Region'
df.rename(columns={'Region name': 'Region'}, inplace=True)
# Merge the two DataFrames on the 'Region' column
merged_df = pd.merge(df, df2, on='Region')

# Display the merged DataFrame
print(merged_df.head(10))

  Gender Age Range            Region   Latitude  Longitude
0      V     45-54  Vilniaus m. sav.  54.675972  25.286741
1      M     45-54   Šiaulių m. sav.  55.897971    23.3471
2      V     45-54   Jonavos r. sav.  55.140555  24.338172
3      M      7-17  Vilniaus m. sav.  54.675972  25.286741
4      M       0-6   Šiaulių m. sav.  55.897971    23.3471
5      M       85+  Vilniaus m. sav.  54.675972  25.286741
6      M      7-17  Vilniaus m. sav.  54.675972  25.286741
7      M     55-64  Vilniaus m. sav.  54.675972  25.286741
8      V     55-64   Šiaulių r. sav.  55.972146  23.033237
9      V     25-34     Kauno m. sav.  54.908563   23.93763

In [26]:
import folium

In [28]:
# Example: Selecting the first 1000 rows
subset_df = merged_df.iloc[:10000]
# Create a map centered around Lithuania
map_lithuania = folium.Map(location=[55.3, 24], zoom_start=7)
# Color coding based on gender or age range
colors = {'V': 'blue', 'M': 'red'}
# Replace this line if you want to color-code by age range
# colors = {'45-54': 'blue', '7-17': 'red', '0-6': 'green'}

# Add points to the map
for i, row in subset_df.iterrows():
    folium.CircleMarker(location=[row['Latitude'], row['Longitude']],
                        radius=5,
                        color=colors[row['Gender']],  # or colors[row['Age Range']] for age range
                        fill=True,
                        fill_color=colors[row['Gender']],  # or colors[row['Age Range']] for age range
                        fill_opacity=0.7,
                        popup=f"{row['Gender']}, {row['Age Range']}",
                        ).add_to(map_lithuania)

# Display the map
map_lithuania.save('map.html')  # Save the map as an HTML file

In [29]:
from folium.plugins import HeatMap

density_df = subset_df.groupby(['Latitude', 'Longitude']).size().reset_index(name='Density')

# Create a map centered around Lithuania
map_lithuania = folium.Map(location=[55.3, 24], zoom_start=7)

# Convert the density DataFrame to list of lists for HeatMap
heat_data = [[row['Latitude'], row['Longitude'], row['Density']] for index, row in density_df.iterrows()]

# Add HeatMap layer to the map
HeatMap(heat_data).add_to(map_lithuania)

# Display the map
map_lithuania.save('heatmap.html')  # Save the map as an HTML file

In [ ]:
import folium
from folium.plugins import HeatMap

average_latitude = subset_df['Latitude'].mean()
average_longitude = subset_df['Longitude'].mean()

# Correctly initialize your Folium map object with a unique variable name
folium_map = folium.Map(location=[average_latitude, average_longitude], zoom_start=6)

# Now, add the HeatMap layer to the correctly named Folium map object
heatmap = HeatMap(subset_df[['Latitude', 'Longitude']].values.tolist(), radius=10, blur=15)
folium_map.add_child(heatmap)

# Save to HTML
folium_map.save('heatmap2.html')

# If displaying in a Jupyter Notebook, simply call the Folium map object
folium_map

In [36]:
df_geojson = pd.read_json("lithuania_admin_level_5_simplified.json")
print(df_geojson)

                 type                                           features
0   FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
1   FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
2   FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
3   FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
4   FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
5   FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
6   FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
7   FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
8   FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
9   FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
10  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
11  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
12  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
13  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
14  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
15  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
16  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
17  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
18  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
19  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
20  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
21  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
22  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
23  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
24  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
25  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
26  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
27  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
28  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
29  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
30  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
31  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
32  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
33  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
34  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
35  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
36  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
37  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
38  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
39  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
40  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
41  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
42  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
43  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
44  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
45  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
46  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
47  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
48  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
49  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
50  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
51  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
52  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
53  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
54  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
55  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
56  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
57  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
58  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
59  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...