In [15]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import numpy as np

In [6]:
with open('gr_open_amzius_lytis_pilietybes-1.plain', 'r') as file:
    data = file.read()

column_names = ['Number', 'Gender', 'Age Range', 'Nationality', 'Year of declaration', 'During the quarter', 'Redion code', 'Region name', 'Date']
data_frame = pd.DataFrame([x.split('|') for x in data.split('\n')], columns=column_names)

In [7]:
data_frame.head()

,Number,Gender,Age Range,Nationality,Year of declaration,During the quarter,Redion code,Region name,Date
0,nr,fiz_asm_lyt,fiz_asm_amzius,fiz_asm_pilietybe,deklarav_metai,deklarav_ketvirtis,sav_kodas,sav_pavadinimas,data_formav
1,595554,V,45-54,Lietuvos,2002,K4,13,Vilniaus m. sav.,2024-01-26
2,999037,M,45-54,Lietuvos,1993,K4,29,Šiaulių m. sav.,2024-01-26
3,1492649,V,45-54,Lietuvos,1991,K3,46,Jonavos r. sav.,2024-01-26
4,6980,M,7-17,Lietuvos,2023,K1,13,Vilniaus m. sav.,2024-01-26

In [17]:
df_dropped = data_frame.drop(index=0)
df_reindexed = df_dropped.reset_index(drop=True)
df_reindexed.head()
df_unique2 = data_frame['Year of declaration'].unique()
df_sorted = np.sort(df_unique2)
print(df_sorted)

TypeError: '<' not supported between instances of 'NoneType' and 'str'

In [9]:
df = df_reindexed.loc[:, ['Gender', 'Age Range', 'Region name']]
df.head()

  Gender Age Range       Region name
0      V     45-54  Vilniaus m. sav.
1      M     45-54   Šiaulių m. sav.
2      V     45-54   Jonavos r. sav.
3      M      7-17  Vilniaus m. sav.
4      M       0-6   Šiaulių m. sav.

In [10]:
df_unique = df['Region name'].unique()
df_unique

array(['Vilniaus m. sav.', 'Šiaulių m. sav.', 'Jonavos r. sav.',
       'Šiaulių r. sav.', 'Kauno m. sav.', 'Klaipėdos m. sav.',
       'Alytaus m. sav.', 'Varėnos r. sav.', 'Pasvalio r. sav.',
       'Tauragės r. sav.', 'Širvintų r. sav.', 'Kupiškio r. sav.',
       'Panevėžio r. sav.', 'Kauno r. sav.', 'Pakruojo r. sav.',
       'Rokiškio r. sav.', 'Joniškio r. sav.', 'Telšių r. sav.',
       'Klaipėdos r. sav.', 'Ukmergės r. sav.', 'Marijampolės sav.',
       'Vilkaviškio r. sav.', 'Utenos r. sav.', 'Molėtų r. sav.',
       'Prienų r. sav.', 'Kalvarijos sav.', 'Šalčininkų r. sav.',
       'Raseinių r. sav.', 'Visagino sav.', 'Trakų r. sav.',
       'Panevėžio m. sav.', 'Šilutės r. sav.', 'Druskininkų sav.',
       'Kėdainių r. sav.', 'Plungės r. sav.', 'Vilniaus r. sav.',
       'Elektrėnų sav.', 'Jurbarko r. sav.', 'Kretingos r. sav.',
       'Kazlų Rūdos sav.', 'Kaišiadorių r. sav.', 'Neringos sav.',
       'Biržų r. sav.', 'Palangos m. sav.', 'Radviliškio r. sav.',
       'Akmenės r. sav.', 'Šakių r. sav.', 'Mažeikių r. sav.',
       'Anykščių r. sav.', 'Alytaus r. sav.', 'Zarasų r. sav.',
       'Lazdijų r. sav.', 'Šilalės r. sav.', 'Švenčionių r. sav.',
       'Pagėgių sav.', 'Skuodo r. sav.', 'Birštono sav.',
       'Kelmės r. sav.', 'Rietavo sav.', 'Ignalinos r. sav.', None],
      dtype=object)